html,
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.button {
  border: 1px solid black;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 500px;
}

.cart {
  top: 0;
  border-left: 1px solid black;
  padding: 1rem;
  height: 100%;
  position: fixed;
  right: 0;
  width: 100%;
  max-width: 30rem;
  display: none;
}

.cart.-open {
  display: block;
}
