html,
body {
  font-family: monospace;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  /* color: black; */
}

.button {
  border: 1px solid #551a8b;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 500px;
  display: inline-block;
}

.cart {
  top: 0;
  border-left: 1px solid black;
  padding: 1rem;
  height: 100%;
  position: fixed;
  right: 0;
  width: 100%;
  max-width: 40rem;
  display: none;
  background: white;
}

.cart.-open {
  display: block;
}

.lineItem {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-gap: 1rem;
  margin-bottom: 1rem;
}

.lineItem__row {
  display: flex;
  justify-content: space-between;
}

.lineItem__row.align-bottom {
  align-items: flex-end;
}

.lineItem img {
  max-width: 100%;
}

.qtySelect {
  border: 1px solid #551a8b;
  padding: 0.5rem 0.25rem;
  display: inline-block;
  border-radius: 500px;
  display: inline-block;
}

.qtySelect button {
  padding: 0 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
  margin-bottom: 1rem;
}

.f {
  display: flex;
}

.sb {
  justify-content: space-between;
}

.productGrid {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem;
}

.productCard {
  width: 100%;
  max-width: 20rem;
  margin: 0.5rem;
}

.productCard img {
  width: 100%;
  display: block;
}
